# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example

# Database
*.sqlite3
*.db
**/migrations

# Virtual Environment
.venv/
env/.env
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Archives
*.zip
*.tar
*.gz

# Build
build/
dist/
*.egg-info/
README.md

